{% extends "store/base.html" %} {% load static %} {% block content %}
<div class="min-h-screen bg-base-200 pt-20">
  <div class="flex flex-col w-1/2 m-auto">
    <div class="alert bg-base-300 cursor-pointer"
    onclick="my_modal_1.showModal()"">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="stroke-current shrink-0 w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
    <span>Tap to see.</span>
  </div>

  <div class="divider"></div>

  <div class="collapse collapse-arrow bg-base-100 p-3">
    <input type="radio" name="my-accordion-2" checked="checked" />
    <div class="collapse-title text-xl font-medium">Track your orders</div>
    <div class="collapse-content">
      <hr />
      <p class="py-4">Track all of your orders here...</p>
      <div class="flex w-full justify-end">
        <a
          class="btn btn-accent"
          type="button"
          href="{% url 'track-orders' %}"
        >
          My orders
        </a>
      </div>
    </div>
  </div>
  <div class="collapse collapse-arrow bg-base-100 p-3 my-3">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">Manage your account</div>
    <div class="collapse-content">
      <hr />
      <p class="py-4">Update or delete your account</p>
      <div class="flex w-full justify-end">
        <a
          class="btn btn-primary"
          type="button"
          href="{% url 'profile-management' %}"
        >
          Profile management
        </a>
      </div>
    </div>
  </div>
  <div class="collapse collapse-arrow bg-base-100 p-3">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">Manage shipping</div>
    <div class="collapse-content">
      <hr />
      <p class="py-4">Enter in a shipping address</p>
      <div class="flex w-full justify-end">
        <a
          class="btn btn-secondary"
          type="button"
          href="{% url 'manage-shipping' %}"
        >
          Manage shipping
        </a>
      </div>
    </div>
  </div>
</div>

<dialog id="my_modal_1" class="modal">
  <div class="modal-box justify-start">
    <div class="form-layout">
      <h4 class="font-bold text-lg">Welcome, {{user}}</h4>
      <hr class="h-px my-1 bg-neutral border-0" />
      <p>This is your dashboard where you can perform any of the following:</p>
      <li>Track your orders</li>
      <li>Manage your account</li>
      <li>Manage shipping information</li>
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
{% endblock %}
