<!-- Updated password-reset-form.html -->
{% extends "store/base.html" %} {% load static %} {% block content %}
<div class="min-h-screen bg-base-200 pt-20">
  <div class="card bg-base-100 shadow-md p-5 xl:w-1/4 sm:w-1/2 lg:w-1/3 m-auto">
    <div class="text-center">
      <h3 class="text-2xl font-semibold mb-2">Reset Your Password</h3>

      <div class="divider"></div>

      <p class="mb-5">
        Please enter your new password twice to reset your password.
      </p>

      <form method="post">
        {% csrf_token %}
        <!-- New Password Field -->
        <div class="mb-4">
          <label
            class="label text-sm"
            for="{{ form.new_password1.id_for_label }}"
            >{{ form.new_password1.label_tag }}</label
          >
          <div class="relative">
            <input
              type="password"
              name="{{ form.new_password1.name }}"
              id="{{ form.new_password1.id_for_label }}"
              class="input w-full {% if form.new_password1.errors %}input-error{% else %}input-bordered{% endif %}"
              placeholder="New Password"
            />
          </div>
        </div>
        <!-- Error Message for New Password -->
        <div
          class="justify-start"
        >
          {% for error in form.new_password1.errors %}
          <div class="text-error text-sm">{{ error }}</div>
          {% endfor %}
        </div>

        <!-- Confirm Password Field -->
        <div class="mb-6">
          <label
            class="label text-sm"
            for="{{ form.new_password1.id_for_label }}"
            >{{ form.new_password2.label_tag }}</label
          >
          <div class="relative">
            <input
              type="password"
              name="{{ form.new_password2.name }}"
              id="{{ form.new_password2.id_for_label }}"
              class="input w-full {% if form.new_password1.errors %}input-error{% else %}input-bordered{% endif %}"
              placeholder="Confirm New Password"
            />
          </div>
          <!-- Error Message for Confirm New Password -->
          <div
            class="px-5 pt-2"
          >
          <ul class="list-disc text-start">
            {% for error in form.new_password2.errors %}
            <li class="text-error text-sm">{{ error }}</li>
            {% endfor %}
          </ul>
          </div>
        
        </div>

        <button type="submit" class="btn btn-success w-full py-2">
          Reset Password
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
