{% extends "store/base.html" %} {% load static %} {% block content %}

<div class="min-h-screen bg-base-200">
  <div class="container mx-auto py-8 mt-14">
    <h1 class="text-2xl font-bold mb-3 text-center">Complete your order</h1>
    <p class="text-base my-3 text-center">
      Please enter in the relevant information below.
    </p>
    <form
      method="post"
      autocomplete="off"
      class="w-full max-w-sm mx-auto p-8 rounded-md shadow-md bg-base-100"
      id="form"
      onsubmit="event.preventDefault();"
    >
      {% csrf_token %}
      <div>
        <div class="form-field">
          <label class="block text-sm font-bold mb-2">Full Name</label>
          <input
            class="input input-bordered w-full max-w-xs validate"
            id="name"
            type="text"
            placeholder="Full name*"
            autocomplete="off"
            value="{{shipping.full_name}}"
            required
          />
        </div>

        <br />

        <div class="form-field">
          <label class="block text-sm font-bold mb-2">Email</label>
          <input
            class="input input-bordered w-full max-w-xs validate"
            id="email"
            type="email"
            placeholder="Email address*"
            autocomplete="off"
            value="{{shipping.email}}"
            required
          />
        </div>

        <br />

        <div class="form-field">
          <label class="block text-sm font-bold mb-2">Address 1</label>
          <input
            class="input input-bordered w-full max-w-xs validate"
            id="address1"
            type="text"
            placeholder="Address 1*"
            autocomplete="off"
            value="{{shipping.address1}}"
            required
          />
        </div>

        <br />

        <div class="form-field">
          <label class="block text-sm font-bold mb-2">Address 2</label>
          <input
            class="input input-bordered w-full max-w-xs validate"
            id="address2"
            type="text"
            placeholder="Address 2*"
            autocomplete="off"
            value="{{shipping.address2}}"
            required
          />
        </div>

        <br />

        <div class="form-field">
          <label class="block text-sm font-bold mb-2">City</label>
          <input
            class="input input-bordered w-full max-w-xs validate"
            id="city"
            type="text"
            placeholder="City*"
            autocomplete="off"
            value="{{shipping.city}}"
            required
          />
        </div>

        <br />

        <div class="form-field">
          <label class="block text-sm font-bold mb-2">State</label>
          <input
            class="input input-bordered w-full max-w-xs"
            id="state"
            type="text"
            placeholder="State (Optional)"
            autocomplete="off"
            value="{{shipping.state}}"
          />
        </div>

        <br />

        <div class="form-field">
          <label class="block text-sm font-bold mb-2">Zip code</label>
          <input
            class="input input-bordered w-full max-w-xs"
            id="zipcode"
            type="text"
            placeholder="Zip code (Optional)"
            autocomplete="off"
            value="{{shipping.zipcode}}"
          />
        </div>
      </div>

      <div class="divider"></div>

      <button id="complete-order" class="btn btn-block" type="submit">
        &nbsp; Complete order
      </button>
    </form>
  </div>
</div>

<!-- Ajax integration -->

<script>
  document.addEventListener("submit", function (e) {
    e.preventDefault();

    var formData = new FormData();
    formData.append("name", document.getElementById("name").value);
    formData.append("email", document.getElementById("email").value);
    formData.append("address1", document.getElementById("address1").value);
    formData.append("address2", document.getElementById("address2").value);
    formData.append("city", document.getElementById("city").value);
    formData.append("state", document.getElementById("state").value);
    formData.append("zipcode", document.getElementById("zipcode").value);
    formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
    formData.append("action", "post");

    fetch('{% url "complete-order" %}', {
      method: "POST",
      body: formData,
      headers: {
        "X-Requested-With": "XMLHttpRequest",
      },
    })
      .then(function (response) {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error("Network response was not ok");
        }
      })
      .then(function (json) {
        window.location.replace("{% url 'payment-success' %}");
      })
      .catch(function (error) {
        window.location.replace("{% url 'payment-failed' %}");
      });
  });
</script>

{% endblock %}
